* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1e29;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 850px;
  margin: 0 auto;
}
/* position: absolute;
  bottom: 70px;
  left: 50%; */

.btn {
  text-align: center;
  width: 150px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #1a1e29;
  align-self: center;
  /* margin: -50px; */
}
a {
  color: #ffffff;
  text-decoration: none;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.top > img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 30px;
}
.triangle {
  height: 15px;
  width: 20px;
  background-color: #3b4254;
  margin: 50px auto 0 auto;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.rectangular {
  color: #caced8;
  background-color: #3b4254;
  width: 340px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.contact i {
  font-size: 50px;
  color: #3b4254;
  cursor: pointer;
}

/************************ content *************************************/

h1 {
  color: #ffffff;
  margin-bottom: 40px;
}

.content {
  color: #caced8;
}
.content h3 {
  color: #ffffff;
  margin: 10px 0;
}
.content p {
  margin-bottom: 10px;
}

.apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.apps .box {
  height: 370px;
  width: 400px;
  background-color: #3b4254;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.apps .box img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.apps .text {
  padding: 0 15px 15px 15px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/******************* Reponsive *******************/

@media all and (max-width: 500px) {
  h1 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.5rem;
  }

  .btn {
    width: 80px;
    height: 20px;
    padding: 5px 10px;
  }

  .box a {
    font-size: 0.5rem;
  }
  .container {
    max-width: 300px;
  }

  .rectangular {
    color: #caced8;
    background-color: #3b4254;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
  }
  .apps {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .apps .box {
    width: 300px;
    height: 220px;
  }

  .apps .box img {
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
